@import 'colors';

.title{
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  color: $white;
  font-weight: bold;
}

.text{
  font-size: 18px;
  color: $white;
  width: 350px;
  margin: 30px auto 0;
}

.img{
  width: 90%;
  max-width: 446px;
  margin: 40px auto;
}